<ion-header>
  <ion-toolbar>
    <ion-title>
    CADASTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <p><b>Nome de Usuário</b></p>
    <ion-input [(ngModel)]="nome">
      </ion-input>
    <p><b>e-mail</b></p>
    <ion-input [(ngModel)]="email">
      </ion-input>
      <p><b>Senha</b></p>
    <ion-input [(ngModel)]="senha">

  </ion-input>
  <ion-button  expand="block" color="medium" href="calculo" > Cadastrar </ion-button>

  <ion-img src="../assets/icon/Screenshot_297.png"></ion-img>

</div>
</ion-content>
