<ion-header>
  <ion-toolbar>
    <ion-title>
      MODELOS DESPADRONIZADOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">
    <ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    <ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    <ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item><ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    <ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    <ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>
    <ion-item>
      <ion-label>
        ??????????????????
      </ion-label>
      <ion-reorder slot="end"></ion-reorder>
    </ion-item>

    <ion-button  expand="block" color="medium" href="calculo">Voltar a tela de calculo</ion-button>

</div>
</ion-content>
